# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.LanguageLibrary.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\naree\RiderProjects\LanguageLibrary\.idea\.idea.LanguageLibrary\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
